/* A modern CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape on iOS */
}

/* Set core body defaults */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Make images and media easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Remove list styles on ul, ol elements */
ul, ol {
    list-style: none;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* A better heading overflow */
h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Default link styles */
a {
    text-decoration: none;
    color: inherit;
} 